* {
	padding: 0;
  	margin: 0;
  	border: 0;
}

h5 { margin: 10px 0 5px 10px; }

/* text-align */
.txt-left { text-align: left; }
.txt-center { text-align: center; }

/* margin */
.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt70 { margin-top: 70px !important; }
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.ml0 { margin-left: 0px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }

/* padding */
.pt0 { padding-top: 0px !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pr0 { padding-right: 0px !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr13 { padding-right: 13px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pb0 { padding-bottom: 0px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pl0 { padding-left: 0px !important; }
.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }

.w5p { width: 5%; }
.w10p { width: 10%; }
.w15p { width: 15%; }
.w20p { width: 20%; }
.w25p { width: 25%; }
.w30p { width: 30%; }
.w70p { width: 70%; }
.w100p { width: 100%; }

.my_page_contents { width: 73%; }

.popup_wrap {
	margin: 0 auto;
	padding: 20px;
}

.required {
	margin-right: 3px;
	color: #c04a4f;
	font-size: 20px;
	font-weight: 500;
}

.comment {
	color: #ff0000;
	font-size: 14px;
	font-weight: 500;
}

/* button */
.btnSet {
	margin-top: 15px;
}
.btn {
  	width: 90px;
  	border-radius: 3px;
  	padding: 0;
  	font-size: 16px;
	font-weight: 500;
	line-height: 37px;
	letter-spacing: -0.4px;
	display: inline-block;
	text-align: center;
	min-inline-size: 38px;
	vertical-align: middle;
	float: right;
	cursor: pointer;
}
.btn.small {
	width: 60px;
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
}
.btn.small90 {
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
}
.btn.width120 {
	width: 120px;
}
.btn.is-blue {
	border: 1px solid #2c77bc;
	background-color: #2c77bc;
	color: #ffffff;
}
.btn.is-grey {
	background-color: #cfcfcf;
	border: 1px solid #cfcfcf;
	color: #1d1d1d;
}
.btn.is-red {
	background-color: #c04a4f;
	border: 1px solid #c04a4f;
	color: #ffffff;
}
.btn.is-yello {
	border: 1px solid #ffff00;
	background-color: #ffff00;
	color: #1d1d1d;
}

/* table */
.table {
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #cfcfcf;
	font-size: 1em;
	width: 100%;
}
.table th, .table td {
	padding: 5px 10px;
	white-space: normal;
	border: 1px solid #cfcfcf;
	line-height: 30px;
	vertical-align: middle;
}
.table th {
	background-color: #f0f5fa;
	color: #1d1d1d;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.4px;
}
.table img {
	display: block;
	margin: 0px auto;
}
.table .imgDiv {
	margin: 10px 0;
}
.table .imgDiv img {
	width: 70%;
}
.table .btn {
  	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	float: none;
}
.write th {
	width: 20%;
	padding-left: 30px;
	text-align: left;
}
.write td {
	padding: 5px 20px;
	text-align: left;
}
.write input {
	height: 28px;
	border: 1px solid #cfcfcf;
	padding-left: 5px;
}
.write input[type="file"] {
	padding-left: 0;
	margin-top: 5px;
	border: 0;
}

/* search */
.sh {
	margin: 30px 0 10px;
	text-align: right;
}
.sh input {
	width: 250px;
	height: 30px;
	border: 1px solid #cfcfcf;
	padding-left: 5px;
}
.sh select {
	vertical-align: top;
	height: 32px;
	border: 1px solid #cfcfcf;
	padding-left: 5px;
}
.sh .btn {
	vertical-align: top;
	width: 60px;
	line-height: 30px;
	margin-left: 3px;
}
.popup_wrap .sh {
	margin-top: 0;
}

/* Login */
.login_wrap {
	width: 100%;
	text-align: center;
	margin-top: 10%;
}
.login_wrap div {
	display: block;
}
.login_wrap input {
	width: 250px;
	height: 35px;
	border: 1px solid #cfcfcf;
	padding-left: 5px;
	margin-left: 20px;
}
.login_wrap .btn {
	margin: 0 auto;
	width: 345px;
	display: block;
	line-height: 40px;
	float: none;
}

/* Join */
.join_wrap {
	width: 100%;
	text-align: center;
}
.join_wrap .table {
	width: 70%;
	margin: 0 auto;
}
.join_wrap th {
	width: 25%;
}
.join_wrap .btn {
	float: none;
}
.join_wrap input[type="radio"] {
	margin: -1px 3px 0 0;
	vertical-align: middle;
}

/* Store */
.store_wrap {
	clear: both;
	width: 100%;
}
.store_wrap ul li {
	margin-top: 20px;
	float: left;
	width: 25%;
}
.store_wrap .thumbImg {
	height: 200px;
}
.store_wrap .thumbImg img {
	margin: 0 auto;
	vertical-align: middle;
}
.store_wrap .info span {
	display: block;
	margin-right: 30px;
	text-align: right;
	font-size: 18px;
	font-weight: 500;
}
.store_wrap .info > span {
	height: 35px;
	line-height: 20px;
}
.price {
	line-height: 1.5;
	color: #ef8031;
	font-size: 24px;
}
.store_wrap .table {
	/* table-layout: fixed; */
	border: 0;
}
.store_wrap .table th, .store_wrap .table td {
	border: 0;
	background-color: transparent !important;
}
.store_wrap .table td {
	vertical-align: top;
}
.store_wrap .table table {
	border: 1px solid #cfcfcf;
	width: 100%;
}
.store_wrap .table table th, .table table td {
	font-size: 18px;
	font-weight: 500;
}
.store_wrap .productName {
	font-size: 25px;
	font-weight: 650;
	padding: 15px 0 25px 15px;
}
.store_wrap .itemNumBtn, .itemNumText {
	border: 1px solid #cfcfcf;
	width: 30px;
	height: 30px;
	font-size: 23px;
	vertical-align: middle;
	text-align: center;
	background-color: transparent !important;
}
.store_wrap .itemNumText {
	height: 28px;
	width: 50px;
}
.store_wrap .btn {
	margin: 0 auto;
	width: 280px;
	display: block;
}
.store_wrap table.review_table {
	border: 0;
}
.store_wrap .review_table th, .store_wrap .review_table td {
	text-align: left;
	font-size: 15px;
}
.store_wrap .review_table td {
	border: 1px solid #cfcfcf;
	line-height: 17px;
}
.store_wrap .review_table .btn {
	width: 60px;
	display: inline-block;
}

/* 장바구니 */
.shoppingBasket_price {
	font-size: 24px;
	line-height: 1.5;
	vertical-align: middle;
	float: right;
}

/* modal */
.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal-content {
	position: relative;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
@media (min-width:768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
	}
}
.modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before {
	display: table;
	content: " ";
}
.modal-footer:after, .modal-header:after {
	clear: both;
}
.modal-body textarea {
	padding: 5px;
}

/* 구매내역 */
.purchase_table {
	width: 55%;
	border: 0;
}
.purchase_table th, .purchase_table td {
	border: 0;
}
.purchase_table th {
	font-weight: 500;
	vertical-align: top;
	background-color: transparent !important;
	text-align: right;
}
.purchase_table .price {
	font-weight: 550;
	text-align: left;
	font-size: 24px;
}

/* 주문 */
.order_table {
	border: 0;
}
.order_table td {
	border: 0;
	border-bottom: 1px solid #cfcfcf;
	vertical-align: top;
}
.kakaopay_btn {
	padding: 10px;
	width: 100%;
	background-color: #ffffff;
	border: 1.5px solid #cfcfcf;
	border-radius: 3px;
	font-size: 18px;
	font-weight: 450;
	text-align: center;
	vertical-align: middle;
}
